body{
    font-family: "Rubik", system-ui;
    margin:0;
}

/* HEADER  */
.header{
    background: #00000077;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
.header__logo{
    width: 700px;
}

.header__nav a{
    color: beige;
    text-decoration: none;
}


.header__mail{
    color: beige;
    background-color: #000000f5;
    border-radius: 50px; /* Уголки */
    padding: 20px;
    text-decoration: none;
}
    /* COVER */
.cover{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.007), rgba(0, 0, 0, 0.007)), url(./images/scale_1200.jfif);
    background-size: cover;
}
.cover__text{
    color: black;
}
.cover__slogan{
font-size:50px;
font-weight: 600;
}
.cover__deskr{
    color: black;
    font-size:50px ;
    font-weight: 600;
}
