body{
    font-family: "Rubik", system-ui;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
.block{
padding-right:150px ;
    padding-left:150px;
    padding-top: 100px;
}

.block__title{
font-size: 35px;
margin-bottom: 50px;


}
/* HEADER  */
.header{
    background: #00000077;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
.header__logo{
    width: 700px;
}
.header__nav a{
    color: beige;
    text-decoration: none;
}
.header__nav a:hover {
color: rgb(9, 7, 119);
}
.header__mail{
    align-self: flex-end;
    color: beige;
    background-color: #000000f5;
    border-radius: 50px; /* Уголки */
    padding: 20px;
    text-decoration: none;
}
.header__mail:hover{
    color: rgb(207, 12, 12);
}
/* всё что касается header должно быть выше медиа */
@media(max-width: 1240px){
.header{
flex-direction: column;
height: 100%;/*  меняем то что нам не нравиться при уменьшении/увеличени экрана */
.send_me_letter{
    color: black;

}
.send_me_letter:hover{
    color: rgb(207, 12, 12);
    background-color: rgb(240, 254, 255);
    padding: 40px;
border-radius: 20px;
border: 5px dotted black;
display: flex;
justify-content: space-between;
} 



.header__link{
    display: block;
}
.header__nav{
    margin-bottom: 20px;
}
.send_me_letter{
    margin-bottom: 30px; 
text-align: center;
padding: 10px;
color: black;

}
}

.header__logo{
    border-top: 30px;
}

    /* COVER */
.cover{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.027), rgba(0, 0, 0, 0.027)), url(../картинки/Капибара\ 8\ октября-1-sharpen-sharpen-1.jpg);
    background-size: cover;
    position: relative;
}
.cover__text{
    color: black;
    position: absolute;
    left: 50;
    top: 50%;
    transform: translateY(-50%);
}
.cover__slogan{
font-size:50px;
font-weight: 600;
}
.cover__deskr{
    color: black;
    font-size:50px ;
    font-weight: 600;
}
.mishki__vidio_i_text{
display: flex;
justify-content: space-between;
justify-items: center;
width: 100%;
}
.mishki__vidio{
    margin-right: 55px ;
    margin-left: 10px;
}
.mishki__vidio_i_text{
    text-align: center;
}
.mishki{
    background-image:url(./images/мишка.jpg) ;
}
.Kapibarki__vidio_i_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 100%;
}
.Mishki__text{
    text-align: center;
}
.servieces__table{
    width: 100%;
border-collapse: collapse;
}S
.servieces__table td, .servieces__table th{
    padding: 20px 40px;
}
.servieces__table thead tr{
    background: #000000a2;
}
.Kapibarki__block{
    background-image: url(./images/5\ ноября\ капибара.jpg);
    background-size: cover;

}
.red{color: red;}
.td__no{
    text-align: center;
}
.mishki__podrobnee{
    color: blue;
}
.mishki__podrobnee:hover{
    color: crimson;
}
.block__contacts{
    margin-bottom: 100px;
}
.contacts__form{
    background-color: rgb(240, 254, 255);
    padding: 40px;
border-radius: 20px;
border: 5px dotted black;
display: flex;
justify-content: space-between;
}
.contacts__input{
    padding: 10px;
    border: 1px solid;
font-size: 16px;
min-width: 250px;
border-radius: 5px;

}
.Kapibarki__text{
    margin-left: 30px;
}
.contacts__column{
display: flex;
flex-direction: column;
}
.contacts__label{
    margin-top: 15px;
     margin-bottom: 5px;
}
.contacts__btn{
    align-self: flex-end;
    color: beige;
    background-color: #000000f5;
    border-radius: 50px; /* Уголки */
    padding: 20px;
    text-decoration: none;
}
.contacts__btn:hover{
    color: rgb(207, 12, 12);
}
   